:root {
    --background-color: hsl(240, 20%, 5%);
    --border-color: hsl(240, 20%, 15%);
    --menu-background-color: hsl(240, 20%, 8%);
    --button-background-color: hsl(240, 20%, 10%);
    --button-background-color-d: hsl(240, 15%, 8.5%);
    --button-hover-background-color: hsl(240, 20%, 13%);
    --button-border-color: hsl(240, 20%, 18%);
    --button-border-color-d: hsl(240, 15%, 15%);
    --button-text-d: hsl(0, 0%, 40%);
    --heading-text-color: hsl(0, 0%, 100%);
    --main-text-color: hsl(0, 0%, 80%);

    --start-button-bg: hsl(120, 30%, 20%);
    --start-button-border: hsl(120, 30%, 30%);
    --start-button-bg-d: hsl(120, 20%, 10%);
    --start-button-border-d: hsl(120, 20%, 15%);

    --stop-button-bg: hsl(0, 29%, 20%);
    --stop-button-border: hsl(0, 29%, 30%);

    --safe-zone: 24px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;

    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3em 12vw 0;
    overflow: auto;

    background-color: var(--background-color);
    color: var(--heading-text-color);
}

h3 {
    margin-bottom: .5em;
    font-size: 1.2em;
}

p {
    color: var(--main-text-color);
    margin-top: 0.5em;
    font-size: 1.2em;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0);
}

/* style the textarea */
textarea {
    border: 1px solid var(--border-color);
    background-color: var(--menu-background-color);
    outline: none;
    color: inherit;
    width: 100%;
    border-radius: .8em;
    padding: .6em 0.8em;
    box-sizing: border-box;
    margin-bottom: 2em;

    font: inherit;
    font-size: 1em;

    resize: none;
    overflow: auto;
    height: 20em;
}

/* style the speed reading container */
#speed-reading-container {
    border: 1px solid var(--border-color);
    background-color: var(--menu-background-color);
    outline: none;
    color: inherit;
    width: 100%;
    border-radius: .8em;
    padding: .6em 0.8em 3em;
    box-sizing: border-box;
    height: 80%;
    margin-bottom: 2em;

    display: flex;
    flex-direction: column;
}

#speed-reading-field {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 4em;

    display: flex;
    align-items: center;
    justify-content: center;
}

#speed-reading-text-container {
    overflow-x: hidden;
    position: relative;
}

#speed-reading-text-container:has(.mode-stream)::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 2px;
    background-color: var(--main-text-color);
    opacity: .5;
}

#speed-reading-text.mode-classic {
    font-size: 3em;
    font-weight: 600;
}

#speed-reading-text.mode-stream {
    font-size: 3em;
    font-weight: 600;

    line-height: 1;
    height: 1.5em;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: max-content;

    will-change: transform;
}

#speed-reading-options {
    display: flex;
    flex-direction: column;
    gap: .5em;

    .row {
        display: flex;
        justify-content: center;
        gap: .5em;
    }
}

button {
    border-radius: .6em;
    font: inherit;
    padding: .4em 1em .5em;
    cursor: pointer;
    color: var(--main-text-color);
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.grey-button {
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
}

.grey-button:disabled {
    background-color: var(--button-background-color-d);
    border: 1px solid var(--button-border-color-d);
    color: var(--button-text-d)!important;
    cursor: not-allowed!important;
}

.grey-button:hover:not([disabled]) {
    background-color: var(--button-hover-background-color);
}

.stop-btn {
    background-color: var(--stop-button-bg);
    border: 1px solid var(--stop-button-border);
}

.start-btn {
    background-color: var(--start-button-bg);
    border: 1px solid var(--start-button-border);
}

.start-btn:disabled {
    background-color: var(--start-button-bg-d);
    border: 1px solid var(--start-button-border-d);
    color: var(--button-text-d)!important;
    cursor: not-allowed!important;
}

.input-container {
    border: 1px solid var(--button-border-color);
    background-color: var(--button-background-color);
    border-radius: .6em;
    padding: .5em .75em;
    line-height: 1;
}

.input-container input {
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font: inherit;
    width: 6em;
}

.input-container label {
    font-size: 1em;
    color: var(--main-text-color);
    font-weight: 600;
}

/* remove the number input's default buttons */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#speed-input, #chunk-input {
    -moz-appearance: textfield; /* remove the number input's default buttons */
}

/* fullscreen stuff */
#curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

body.fullscreen #curtain {
    pointer-events: all;
    z-index: 999;
    display: block;
}

body.fullscreen #speed-reading-container {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100vw - var(--safe-zone) * 2);
    height: calc(100vh - var(--safe-zone) * 2);
}
